:root {
  --content-width: 1000px;
  font-family: "Linik Sans", "sans-serif";
  font-size: 16px;
  --logo-font: "Jellee";
}
:root, :root[data-theme="dark"] {
  --fg-color1: #d00a25;
  --fg-color2: #fff;
  --text-color: #ddd;
  --bg-color1: #222;
  --bg-color2: #000;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg-color1: #d00a25;
    --fg-color2: #000;
    --text-color: #424242;
    --bg-color1: #ddd;
    --bg-color2: #fff;
  }
}

.donate {
  background-color: var(--fg-color2);
  color: var(--fg-color1);
  font-size: 6vw;
  padding: .25em .5em;
  border: none;
  border-radius: .5em;
  font-weight: bold;
  font-family: var(--logo-font), "sans-serif";
  position: absolute;
  bottom: .25em;
  right: .25em;
  display: block;
  box-shadow:
    inset .05em .05em .1em .05em var(--fg-color1),
    inset -.05em -.05em .1em .05em var(--fg-color1);
  transform: none;
  transition: transform .5s ease-in-out;
}

.donate:hover {
  border: none;
  transform: scale(1.2);
}

.donate:before {
  content: "♥";
  padding-right: .5em;
}

@media (min-width: 768px) {
  .donate {
    font-size: 2rem;
  }
}


button.darklight {
  display: none;
  background: transparent;

  /* trick to force color to pre-colored emoji */
  color: transparent;
  text-shadow: 0 0 0 var(--fg-color2);

  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  font-size: 1.5rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  button.darklight {
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
  }
}

:root[data-theme="dark"] button.darklight:after {
  content: "🔆";
}

button.darklight:after {
  content: "🔅";
}

body {
  color: var(--text-color);
  background-color: var(--bg-color1);
  background: linear-gradient(to bottom, var(--bg-color1) 0, var(--bg-color2) 100vh, var(--bg-color1) 100%);
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

p {
  font-size: 1em;
  line-height: 1.2em;
  margin: 1em 0;
  text-align: justify;
}

pre {
  margin: 1em .5em;
  padding: .5em;
  font-family: 'Hack', 'Lucida Console', 'Courier New', Courier, monospace;
  font-size: .9em;
  background: var(--bg-color1);
}


main ul {
  padding-left: 1.5em;
  list-style: "➤";
}

main ol {
  padding-left: 1.5em;
  list-style: decimal;
}

main li {
  padding: .25em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--logo-font), sans-serif;
  font-weight: bold;
  color: var(--fg-color2);
  padding: .2em 0;
  margin: .8em 0 0 0;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

a, a:visited {
  color: var(--fg-color1);
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid;
}

header, main, footer, nav {
  max-width: var(--content-width);
  box-sizing: border-box;
  margin: auto;
}

header {
  background: url("img/noscript-logo-full.svg") no-repeat center left;
  background-size: contain;
  position: relative;
  height: 240px;
  transition:  background-position-x .5s;
}

header > h1 {
  display: none;
  font-size: 150px;
  padding: 0;
  margin: 0 0 0 220px;
  color: var(--fg-color2);
  text-shadow:
    1px 1px 0 var(--fg-color1),
    2px 2px 0 var(--fg-color1),
    3px 3px 0 var(--fg-color1),
    -1px -1px 0 var(--fg-color1),
    1px -1px var(--fg-color1),
    1px 1px var(--fg-color1);
}

header > h2 {
  font-size: 60px;
  padding: .1rem;
  margin: 2rem 0 0 11rem;
  background-color: var(--fg-color1);
  color: var(--bg-color2);
  border: .1em solid var(--bg-color2);
  padding: .1em;
  transform-origin: center;
  transform: rotate(-10deg);
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  white-space: nowrap;
}


@media (max-width: 1000px) {
  header {
    height: 24vw;
    background-position-x: 2rem;
  }
  header > h1 {
    font-size: 15vw;
    margin-left: 24vw;
    padding-left: 1rem;
    text-shadow:
      0.1vw 0.1vw 0 var(--fg-color1),
      0.2vw 0.2vw 0 var(--fg-color1),
      0.3vw 0.3vw 0 var(--fg-color1),
      -0.1vw -0.1vw 0 var(--fg-color1),
      0.1vw -0.1vw var(--fg-color1),
      0.1vw 0.1vw var(--fg-color1);
  }
  header > h2 {
    font-size: 6vw;
    bottom: 1.8em;
    right: .8em;
  }
}

main {
  border: solid var(--bg-color1);
  border-width: 1px 0 1px 0;
  background-color: var(--bg-color2);
  font-size: 1rem;
  padding: 1em;
}

footer {
  clear: both;
}

#title {
  margin-top: 0;
  padding-top: 0;
}

.table-of-contents {
  font-family: var(--logo-font), "sans-serif";
  font-size: 1.2em;
}

.table-of-contents ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.table-of-contents li ol {
  font-size: 90%;
  padding: 0 0 0 1em;
}

.copyright p {
  text-align: center;
  font-size: .8rem;
}

a.screenshot > img {
  max-width: 50%;
  min-width: 320px;
  float: right;
  margin: .25em;
}

img.uibtn {
  width: 1em;
  height: 1em;
}

@media (max-width: 640px) {
  a.screenshot {
    display: block;
    text-align: center;
  }
  a.screenshot img {
    clear: both;
    float: none;
  }
  .changelog {
    font-size: 2.3vw;
  }
}

a.screenshot:hover {
  border: none;
}

img.nscl-logo {
  width: 25%;
  max-width: 128px;
  float: left;
  margin-right: .5em;
}

.left {
  float:  left;
}

.getfor {
  display: flex;
  padding: 0;
  margin: 0;
}

.getfor li {
  list-style: none;
  text-align: center;
  padding: .5em;
  margin: .5em;
  background: var(--bg-color1);
  width: 50%;
}
.getfor li::before {
  display: none;
}

.getfor a[class] {
  display: block;
  background: no-repeat center;
  background-size:contain;

  height: 128px;
  border: none;
  text-indent: -5000px;
  margin-top: .5rem;
}

.getfor a.firefox {
  background-image: url("../img/getforfirefox.png");
}
.getfor a.chromium {
  background-image: url("../img/getforchromium.png");
}
