:root {
  --content-width: 1000px;
  font-family: "Linik Sans", "sans-serif";
  font-size: 16px;
  --logo-font: "Jellee", cursive;
  scroll-behavior: smooth;
}

.__NoScript_ThemeWeb__, .__NoScript_ThemeWeb__[data-theme="dark"] {
  color-scheme: dark;
  --accent-color: #d12027;
  --fg-color1: #b1b0b6;
  --fg-color2: #fff;
  --text-color: #ddd;
  --bg-color1: #000;
  --bg-color2: #212026;
  --form-color1: #333;
  --form-color2: #111;
  --focus-color: #8007;
  --tab-color1: #6668;
  --tab-color2: #3348;
  --form-check-color: var(--accent-color);
  --form-control-color: var(--form-color2);
  --hilite-color: #f008;
}

@media (prefers-color-scheme: light) {
  .__NoScript_ThemeWeb__ {
    color-scheme: light;
    --fg-color1: #555;
    --fg-color2: #000;
    --text-color: #333;
    --bg-color1: #ddd;
    --bg-color2: #fff;
    --form-color1: #ccc;
    --form-color2: #eee;
    --tab-color1: #ddda;
    --tab-color2: #8888;
    --focus-color: #f787;
  }
}


:focus-visible, .cap:focus-within {
  outline: 0;
  filter:
    drop-shadow(2px 2px 2px var(--focus-color))
    drop-shadow(-2px 2px 2px var(--focus-color))
    drop-shadow(2px -2px 2px var(--focus-color))
    drop-shadow(-2px -2px 2px var(--focus-color));
}


.skip-to-content {
  opacity: 0;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 2em;
  transition: opacity .5s;
}

.skip-to-content:focus {
  opacity: 1;
}

.donate {
  color: var(--hilite-color);
  text-shadow: var(--fg-color2) .05em 0em 0.05em;
  font-size: 6vw;
  padding: 1em;
  border: none;
  font-weight: bold;
  font-family: var(--logo-font);
  position: absolute;
  bottom: -1em;
  right: -.8em;
  display: block;
  transform: none;
  transform-origin: 100% 50%;
  transition: transform .5s ease-in-out;
}

.donate:hover {
  border: none;
  transform: scale(1.2);
  text-decoration: none;
}

.donate:before {
  content: "♥";
  padding-right: .1em;
}

.donated .donate {
  display: none;
}

.donated #main-content h1:after {
  content: "♥";
  padding-left: .1em;
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .donate {
    font-size: 2rem;
  }
}

.signature {
  font-family: var(--logo-font);
  font-style: italic;
}


button.darklight {
  display: none;
  background-color: transparent;
  /* trick to force color to pre-colored emoji */
  color: transparent;
  text-shadow: 0 0 0 var(--fg-color2);

  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  font-size: 1.5rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  button.darklight {
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
  }
}

:root[data-theme="dark"] button.darklight:after {
  content: "🔆";
}

button.darklight:after {
  content: "🔅";
}

:root {
  color: var(--text-color);
  background-color: var(--bg-color1);
  background: linear-gradient(to bottom, var(--bg-color1) 0,var(--bg-color2),var(--bg-color1) 100%);
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:target {
  background: linear-gradient(to right, transparent, var(--accent-color));
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin: 1em 0;
  text-align: justify;
}

main > :is(ul, ol) li {
  font-size: 1em;
  line-height: 1.4em;
}

pre {
  margin: 1em .5em;
  padding: .5em;
  font-family: 'Hack', 'Lucida Console', 'Courier New', Courier, monospace;
  font-size: .9em;
  background: var(--bg-color1);
  color: var(--fg-color1);
}

* {
  box-sizing: border-box;
}

main ul {
  padding-left: 1.5em;
  list-style: "➤";
}

main ol {
  padding-left: 1.5em;
  list-style: decimal;
}

main li {
  padding: .25em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--logo-font);
  font-weight: bold;
  color: var(--fg-color2);
  padding: .2em 0;
  margin: .8em 0 0 0;
  clear: both;
}

.subh {
  clear: none;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

a, a:visited {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header, main, footer, nav {
  max-width: var(--content-width);
  box-sizing: border-box;
  margin: auto;
}

header {
  background: url("img/noscript-logo-full.svg") no-repeat center left,
              url("img/noscript-logo-full.png") no-repeat center left;
  background-size: contain;
  position: relative;
  height: 240px;
  transition:  background-position-x .5s;
}

header > h1 {
  display: none;
  font-size: 150px;
  padding: 0;
  margin: 0 0 0 220px;
  color: var(--fg-color2);
  text-shadow:
    1px 1px 0 var(--accent-color),
    2px 2px 0 var(--accent-color),
    3px 3px 0 var(--accent-color),
    -1px -1px 0 var(--accent-color),
    1px -1px var(--accent-color),
    1px 1px var(--accent-color);
}

header > h2 {
  font-size: 60px;
  margin: 2rem 0px 0px 11rem;
  background-color: var(--accent-color);
  color: var(--fg-color2);
  border: .1em solid var(--fg-color2);
  padding: 0.1em;
  transform-origin: center center 0px;
  transform: rotate(-10deg);
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  white-space: nowrap;
  box-shadow: 0 0 .2em .2em var(--hilite-color);
}


@media (max-width: 1000px) {
  header {
    height: 24vw;
    background-position-x: 2rem;
  }
  header > h1 {
    font-size: 15vw;
    margin-left: 24vw;
    padding-left: 1rem;
    text-shadow:
      0.1vw 0.1vw 0 var(--accent-color),
      0.2vw 0.2vw 0 var(--accent-color),
      0.3vw 0.3vw 0 var(--accent-color),
      -0.1vw -0.1vw 0 var(--accent-color),
      0.1vw -0.1vw var(--accent-color),
      0.1vw 0.1vw var(--accent-color);
  }
  header > h2 {
    font-size: 6vw;
    bottom: 1.8em;
    right: .8em;
  }
}

main {
  background-color: var(--bg-color2);
  font-size: 1rem;
  padding: 1em;
}

footer {
  clear: both;
  padding: 1em;
}

#title {
  margin-top: 0;
  padding-top: 0;
}

figcaption {
  font-family: var(--logo-font);
}

.table-of-contents {
  margin: -1em;
}

.table-of-contents > ol {
  font-family: var(--logo-font);
  font-size: 1em;
  display: flex;
  flex-flow: row wrap;
  align-content:space-between;
}

.table-of-contents > ol > li {
  margin: .2em 1em;
  border: .1em solid var(--bg-color1);
  padding: .5em;
  border-radius: 0 1em 0 1em;
  border-width: 0 0 .1em .1em;
}


.table-of-contents ol  {
  list-style: none;
  padding: 0;
}

.table-of-contents li {
  position: relative;
}

.table-of-contents li ol {
  font-size: 80%;
  padding: 1em;
  position: absolute;
  top: 2.5em;
  left: 1em;
  display: block;
  background-color: var(--bg-color1);
  z-index: 1000;
  white-space: nowrap;
  border-radius: 0 1em 1em 1em;

}


.table-of-contents > ol > li:not(:is(:focus, :focus-within, :hover)) ol {
  display: none;
}




.copyright p {
  text-align: center;
  font-size: .8rem;
}

.screenshot {
	float: right;
	display: flex;
	flex-direction: column-reverse;
	width: 40%;
	text-align: center;
	align-content: center;
	align-items: center;
	background: var(--bg-color1);
	margin: .2em .2em .2em .5em;
	padding: .3em;
  clear: right;
  box-sizing: border-box;
}

.screenshot img {
  width: calc(100% - 1em);
  margin: .5em;
  box-shadow: .2em .2em .2em #000;
  transition: all .5s;
  transform-origin: 100% 0;
  cursor: zoom-in;
  border: 2px solid #ccc;
}
.screenshot a:focus {
  filter: none;
}

.screenshot a:is(:focus, :target) img {
  transform: scale(275%);
  margin-right: -3em;
}

@media (max-width: 800px) {
  .screenshot {
    width: 50%;
  }
  .screenshot a:is(:focus, :target) img {
    transform: scale(230%);
    margin-right: -2.5em;
  }
}

.screenshot .ss-closer {
  display: none;
}

.screenshot a:is(:focus, :target) ~ .ss-closer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: block;
  cursor: zoom-out;
}

img.uibtn {
  height: 1.2em;
  vertical-align: text-bottom;
}

img.nscl-logo {
  width: 25%;
  max-width: 128px;
  float: left;
  margin-right: .5em;
}

.left {
  float:  left !important;
  margin: .5em .5em .5em 0 !important;
}

.right {
  float: right;
  margin: .5em 0 0 .5em;
}

.getfor {
  display: flex;
  padding: 0;
  margin: 0 -.5em;
}

.getfor li {
  list-style: none;
  text-align: center;
  padding: .5em;
  margin: .5em .25em;
  background: var(--bg-color1);
  width: 50%;
}

.getfor a {
  display: block;
}
.getfor a[class] {
  background: no-repeat center;
  background-size:contain;
  height: 128px;
  border: none;
  text-indent: -5000px;
  margin-top: .5rem;
}

.getfor a.firefox {
  background-image: url("../img/getforfirefox.png");
}
.getfor a.chromium {
  background-image: url("../img/getforchromium.png");
}

.funds p {
  display: flex;
  background: white;
  border-radius: 1em;
}
.funds a {
  display: block;
  width: calc(30% - 3em);
  margin: .5em 2em;
}

.funds img {
  width: 100%;
}