/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle, .menu-toggle:visited {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem;
  line-height: 1rem;
  font-size: 1.5rem;
  color: var(--fg-color2);
  text-decoration: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  /*
  color: var(--bg-color1);
  background: var(--fg-color2);
  opacity: .7;
  */
  border: none;
}  

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
	overflow: hidden;
	transition: left 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}


.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop
  {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: initial;
		left: auto;
		top: auto;
		height: auto;
    display: block;
  }
  
  .main-menu ul {
    display: flex;
    
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;

    background-color: var(--bg-color2);
  }
  
  .main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
  }

  .main-menu {
    border-bottom: 1px solid var(--fg-color1);
    background-color: var(--bg-color2);
    margin: auto;
    font-family: "OpenDyslexic", sans-serif;
    font-weight: bold;
    font-size: 1.2rem; 
  }
  
  .main-menu ul {
    display: flex;
  }
  
  .main-menu ul > li {
    padding: 0;
  }
  
  .main-menu ul > li > a {
    display: block;
    color: var(--fg-color1);
    padding: 1rem;
  }
  .main-menu ul > li > a:hover, .main-menu ul > li.active a {
    color: var(--bg-color2);
    border: 0;
  }

  .main-menu ul > li:hover, .main-menu ul > li.active {
    background: var(--fg-color1);
  }
  
  .main-menu ul > li.active > a {
    transform: scale(1.2);
    text-shadow: 
      .05em .05em .2em var(--fg-color2),
      -.05em -.05em .2em var(--fg-color2)
      ;
  }
  
  #title {
    display: none;
  }
}
